.circle {
  --circle-size: 25px;
  position: absolute;
  height: var(--circle-size);
  width: var(--circle-size);
  border: 1px solid white;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 99;
  pointer-events: none;
}

